// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
$offwhite: #eee9e6;
$black: #1a1a1a;
$dark-grey: #67655fe0;
 body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .border-circle {
        position: relative;
        text-align: center;

        i {
        position: absolute;
        top: -30px;
        font-size: 24px;
        color: $black;
        background-color: #fff;
        padding: 12px 14px;
        border-radius: 100%;
        box-shadow: 1px 9px 16px -6px rgba(61,61,61,0.85);
        }
        .hide {
            display: none;
        }
    }
    .gap {
        height: 600px;
    }
}

.header {
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.1)),url(../img/hero-img.jpg) no-repeat;
    background-position: 46% 25px;
    background-size: cover;
    height: 700px;
    &__border {
        padding: 24px 0;
            // text-align: center;
            position: relative;
            &-logo {
                position: absolute;
                margin: -25px calc(50% - 25px);
            background-color: $dark-grey;
            padding: 0 10px;
            opacity: .6;
            width: 50px;
            border-radius: 100%;
            transition: width 300ms ease;
           }
    }
    nav {
        border-bottom: 1px solid #ffffff1f;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        color: #f0ebe8c7;
        background-color: rgba(0,0,0,0);
        transition: background-color 500ms ease-in-out;
        .logo-text {
           
        }
        .nav {
            display: grid;
            align-items: center;
            padding:8px 0;
            padding-bottom: 4px;
            cursor: pointer;
            &__icon, &__search-icon {
                // padding-top: 28px;
            }
            &__icon {
                font-size: 28px;
            }
            &__search-icon { 
                font-size: 22px;
            }
            &__icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            &__text {
                font-family: 'Great Vibes', cursive;
                color: $offwhite;
                margin: 2px 0 2px 0;
                text-align: center;
                transition: font-size 300ms ease;
                // letter-spacing: 2px;
                font-size: 26px;
            }
            &__menu {
                display: none;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                li {
                    a {
                        display: inline-block;
                        color: $offwhite;
                        text-decoration: none;
                        font-size: 12px;
                        letter-spacing: 2px;
                        font-weight: 300;
                    }
                }
            }
        }

    } /* nav */
    &__cta {
        padding-top: 30px;
        line-height: 28px;
        margin: auto 0;
        color: #fff;
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 38px;
            line-height: 33px;
            span.border {
                padding: 2px 2px;
                background-color: #fff3;
            }
            span.black {
                color: #0D0D0F;
            }
        }
    }
}





@media (min-width: 576px) {  
    .header__cta {
        h1 {
            font-size: 42px;
            line-height: 33px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .header nav .nav {
        &__logo {
            width: 75px;
            border-radius: 100%;
        }
        &__text {
            font-size: 36px;
        }
    }
    .header__cta {
        h1 {
            font-size: 48px;
            line-height: 38px;
        }
    }
} 


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    .header nav .nav{
        &__icons, &__search-icon {
            display: none;
        }
        &__menu {
            display: flex;
        }           
    }
    .header__cta {
        h1 {
            font-size: 62px;
            line-height: 50px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    .header__cta {
        h1 {
            font-size: 72px;
            line-height: 58px;
        }
    }

}