// @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
$offwhite: #eee9e6;
$black: #1a1a1a;
$dark-grey: #67655fe0;
$primary: rgb(210, 165, 109);
 body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .border-circle {
        position: relative;
        // text-align: center;
        margin-left: calc(50% - 24px);

        i {
        position: absolute;
        top: -30px;
        font-size: 24px;
        color: $black;
        background-color: #fff;
        padding: 12px 14px;
        border-radius: 100%;
        box-shadow: 1px 9px 16px -6px rgba(61,61,61,0.85);
        }
    
        .show {
            display: block;
        }
    }
    
    .para__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gap {
        height: 600px;
    }
}

.header {
    flex-direction: column;
    position: relative;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.1)),url(../img/hero-img.jpg) no-repeat;
    background-position: 46% 25px;
    background-size: cover;
    height: 700px;
    &__border {
        padding: 24px 0;
            // text-align: center;
            position: relative;
            &-logo {
                position: absolute;
                margin: -25px calc(50% - 25px);
            background-color: $dark-grey;
            padding: 0 10px;
            opacity: .6;
            width: 50px;
            border-radius: 100%;
            transition: width 300ms ease;
           }
    }
    nav {
        border-bottom: 1px solid #ffffff1f;
        position: sticky;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        color: #f0ebe8c7;
        background-color: rgba(0,0,0,0);
        transition: background-color 500ms ease-in-out;
        
        .nav {
            display: grid;
            align-items: center;
            padding:8px 0;
            padding-bottom: 4px;
            cursor: pointer;
            &__icon, &__search-icon {
                // padding-top: 28px;
            }
            &__icon {
                font-size: 28px;
            }
            &__search-icon { 
                font-size: 22px;
            }
            &__icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            &__text {
                font-family: 'Great Vibes', cursive;
                color: $offwhite;
                margin: 2px 0 2px 0;
                text-align: center;
                transition: font-size 300ms ease;
                // letter-spacing: 2px;
                font-size: 26px;
            }
            &__menu {
                display: none;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                li {
                    .active {
                        color: $primary;
                        // font-weight: bold;
                    }
                    a {
                        display: inline-block;
                        color: $offwhite;
                        text-decoration: none;
                        font-size: 12px;
                        letter-spacing: 2px;
                        font-weight: 300;
                    }
                }
            }
        }

    } /* nav */
    .mobile__menu {
        position: absolute;
        transform:translateY(-164%);
        transition: transform 1s ease-in;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        list-style: none;
        background-color: #0C0B0D;
        padding: 5px 0;
            li {
                padding: 4px 0;
                a {
                    display: block;
                    color: $offwhite;
                    text-decoration: none;
                    font-size: 12px;
                    letter-spacing: 3px;
                    font-weight: 100;

                }
        }             
}
    &__cta {
        padding-top: 30px;
        line-height: 28px;
        margin: auto 0;
        color: #fff;
        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 38px;
            line-height: 33px;
            span.border {
                padding: 2px 2px;
                background-color: #fff3;
            }
            span.black {
                color: #0D0D0F;
            }
        }
    }
    #cta {
        .header__cta-btn {
            position: absolute;
            bottom: 24px;
            button {

                cursor:pointer;
                margin-top: auto;
                font-family: 'Montserrat', sans-serif;
                border: none;
                font-size: 20px;
                padding: 5px 7px;
                background-color: #fff;
                color: rgb(210, 165, 109);;
                box-shadow: 1px 3px 16px -6px rgba(61,61,61,0.85);
                border-radius: 2px;

                // letter-spacing: 1px;
            }
        }
    }
}
.about {
    padding-top: 70px;
    &__text{
        font-family: Lato, sans-serif;
        font-weight: 300;
        text-align: center;
        // max-width: 500px;
        h3 {
            font-size: 27px;
            letter-spacing: 1px;
            color: #757575;
        }
        h2 {
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            color: $primary;
            letter-spacing: 1px;
        }
        p {
            font-size: 14px;
        }
        button {
            background-color: white;
            margin: 12px 0;
            border: none;
            a {
                display: block;
                color: $primary;
                padding-bottom: 2px;
                text-decoration: none;
                font-weight: 300;
                border-bottom: 1px solid $primary;
            }
        }
        i {
            display: block;
            margin: 8px 0 25px 0;
            color: #7575757d;
            font-size: 28px;
        }
    }
    &__img {
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .overlay-1 {
            position: absolute;
            bottom: 4px;
            padding: 4px 10px;
            font-size: 15px;
            background-color: $black;
            color: $primary;
        }
        .overlay-2 {
            position: absolute;
            bottom: 4px;
            right: 0;
            padding: 4px 10px;
            font-size: 15px;
            background-color: $black;
            color: $primary;
        }
    }
}
.branding {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    // background-color: #9a7950;
    background-color: $offwhite;
    -webkit-box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.64); 
    box-shadow: 0px 7px 15px -2px rgba(0,0,0,0.24);
    padding: 5px;
    &__logo {
    
       
        border-radius: 100%;
        padding: 0 15px;
        max-width: 82px;
    }
    &__schw {
        max-width: 80px;
    }
    &__kera, &__miz,&__ghd {
        width: 100px;
        height: 100%;
        // transform: scale(.8);
    }
    &__kera {
        color: $black;
    }
    &__miz {
        display: none;
    }
    &__ghd {
        display: none;
        transform: scale(.8);

    }
}
.services {
    font-family: Lato, sans-serif;
    padding-top: 50px;
    margin-bottom: 70px;

    &__text{
        font-family: Lato, sans-serif;
        font-weight: 300;
        text-align: center;
        // max-width: 500px;
        h3 {
            font-size: 27px;
            letter-spacing: 1px;
            color: #757575;
        }
        h2 {
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            color: $primary;
            letter-spacing: 1px;
        }
        p {
            max-width: 500px;
            font-size: 14px;
        }
        i {
            display: block;
            margin: 8px 0 25px 0;
            color: #7575757d;
            color: $primary;
            font-size: 28px;
        }
    }
    &-container { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__img {
        position: relative;
        border: 2px solid $offwhite;
        max-width: 450px;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            filter: grayscale(100%);
            img:hover {
            transform: scale(2,2);
            }
        }
        #color {
            filter: grayscale(50%);
        }
        &-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            // background-color: #;
            background-color: #d2a56d00;
            transition: background-color 1s ease-in-out;
            &:hover {
                // background-color: #d2a56dd1;

            }
            h4 {
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: $black;
                margin: 0;
                padding: 2px 8px;
                display: inline-block;
                color: $primary;
                font-weight: bold;
                text-transform: uppercase;
                // border-radius: 20px 0 0 0;

            }
            // background-color: $black;
        }
    }
}
#care {
    padding-top: 40px;
    border-top: 1px solid #d2a56d42;
    .border-circle {
        top: -40px;
    }
    .care {
        .tips {
           font-family: Montserrat, sans-serif;
           text-align: center;
           &__answers {
               .tip {
                    p {
                        font-weight: 300;
                        font-size: 14px;
                        margin-bottom: 40px;
                        line-height: 26px;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
                .hide {
                display: none;
                }
                .show {
                    display: block;
                }
                h3 {
                    font-weight: bold;
                    color: $black;
                    span {
                        color: $primary;
                    }
                }    
           
           }
           &__btns {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                margin-top: 30px;
                span {
                    padding: 12px 18px;
                    margin-bottom: 20px;
                    color: $primary;
                    font-weight: bold;
                    background-color: $black;
                    font-size: 17px;
                    border-radius: 100%;
                    cursor: pointer;
                    display: inline-block;
                    transform: scale(1);
                    transition: transform 900ms  ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        // background-color: lighten($black, 20%);
                        border: 3px solid $primary;
                        margin-top: -6px;
                    }
                }
            }
        }    
    }
}


@media (min-width: 576px) {  
    .header__cta {
        h1 {
            font-size: 42px;
            line-height: 33px;
        }
    }
}
@media (min-width: 640px) {  
    .about {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &__text {
            width: 50%;
            // order: 2;
        }
        &__img {
            img {
                min-height: 316px;
                object-fit: cover;
            }
            width: 50%;
            height: auto;
        }
        
    }
    .branding {
        &__miz, &__ghd {
            display: block;
        }
    }
    #care .care .tips__answers .tip p {
                font-weight: 300;
                font-size: 14px;
                margin-bottom: 40px;
                line-height: 26px;
                width:70%;
                margin: 0 auto;
            }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  
    .header nav .nav {
        &__logo {
            width: 75px;
            border-radius: 100%;
        }
        &__text {
            font-size: 36px;
        }
    }
    .header__cta {
        h1 {
            font-size: 48px;
            line-height: 38px;
        }
    }
    #care .care .tips__btns {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 30px;
    }
} 


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  
    .header nav .nav{
        &__icons, &__search-icon {
            display: none;
        }
        &__menu {
            display: flex;
        }           
    }
    .header__cta {
        h1 {
            font-size: 62px;
            line-height: 50px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    .header__cta {
        h1 {
            font-size: 72px;
            line-height: 58px;
        }
    }

    .about {
        flex-wrap: wrap;
        &__text{ 

            p {
                max-width: 600px;
      
                .para__center {

                    // margin: auto auto;
                    p {
                        // margin: 0 0;
                    }
                }
            }
        }
        &__img {
            object-fit: cover;
            height: 100%;
        }
    }
}