@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
 $offwhite: #eee9e6;
 $black: #1a1a1a;
 body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .gap {
        height: 600px;
    }
}

header {
    position: relative;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.1)),url(../img/hero.jpeg) no-repeat;
    background-position: 50% 25px;
    background-size: cover;
    height: 700px;
    .header__border {
        height: 25px;
        background-color: $black;
    }
    nav {
       border-bottom: 1px solid #ffffff61;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        color: #f0ebe8c7;
        background-color: rgba(0,0,0,0);
        transition: background-color 400ms ease-in-out;
        .logo-text {
           
        }
        .nav {
            display: grid;
            align-items: center;
            padding:8px 0;
            padding-bottom: 0;
            cursor: pointer;
            &__icon, &__search-icon {
                padding-top: 28px;
            }
            &__icon {
                font-size: 38px;
            }
            &__logo {
                width: 58px;
                border-radius: 100%;
            }
            &__search-icon { 
                font-size: 26px;
            }
            &__icons {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__text {
                // font-family: 'Dancing Script', cursive;
                color: $offwhite;
                margin: 0 0 4px 0;
                text-align: center;
                font-size: 25px;
            }
        }
    }
}




@media (min-width: 576px) {  

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    header {
        background-position: 50% 5px;
    }

}